@media only screen and (min-width: 1028px) {
    
    body {margin: 0 10%;}

    .dropdown-content {
        width: 200px;
        font-size: 100%;
    }

/*----------Home Page------------*/

    main figure.hero {height:35vw;}

/*----------Reservation----------*/

.reservation fieldset {
    width: 50%;
 }

 /*----------- Wedding Reception----------*/
main#wedding.home {
    display: flex;
    margin-top: 20px;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
}

main#wedding.home h1 {
    flex-basis: 100%;
    align-items: start;
    justify-content: center;
}

.receptionleft {
    flex-basis: 48%;
}
.receptionright {flex-basis: 48%;}
.receptionright h2 {margin-left: 15%;}

.bronze, .silver, .gold {font-size: 100%;}

.child img, h3 {width: 100%;}

.receptionright h2 {flex-basis: 100%;}

.bronze, .silver, .gold {
flex-basis: 60%;
margin-left: 0;
margin-right: 0;
}

/*----------Contact Flexbox----------*/

    .contact section {
        flex-basis: 29%;
    }

    .c1 {font-size: 100%;}

    .map iframe {
        height: 500px;
    }
    } /* end of media query*/
