@media only screen and (min-width: 1028px) {
    
    body {margin: 0 10%;}

    /*----------Main------------*/

    main figure.hero {height:35vw;}

    /*----------Flex Box----------*/

    .reservelink {
        padding: 3.3rem;
    }

/*--Home Page--*/


    } /* end of media query*/