@media only screen and (min-width: 560px) {

body {
    max-width: 100%;
    margin: 0 5%;
}

header div h1 {font-size: 200%;}
header div h2 {font-size: 110%;}

nav ul {
    display: flex;
    justify-content: center;
}

nav li {
    float: left;
    width: auto;
    border: none;
}

nav li.active, nav a:hover {
    text-decoration: underline;
}

nav a {
display: block;
}

nav button {display: none;}

/*----------Hero----------*/

main figure.hero {height:45vw;}

p.intro {column-count: 2;}

/*---------Flex Box----------*/

.flexbox section {
    flex-basis: 46%;
    margin-bottom: 20px;
}

.subhome {margin-right: 10px;}

.reservelink {
    margin-top: 20px;
    margin-left: 10px;
}

/*--Footer--*/
footer.info {
    column-count: 2;
    margin-top: 0px;
    vertical-align: top;
    height: 180px;
}

footer.final {clear: both;}

} 
/* end of media query*/